body {
    background-color: beige;
    font-family: Verdana, sans-serif;
}
h2{
    color:darkorchid;
    text-align: justify;
    font-size: 15px;
}
h1 {
    color: indigo;
    text-align: center;
}

p {
    color: indigo;
    font-size: 30px;
    text-align: center;
}

button{
    size: 100px;
}