body {
    background-color: beige;
    font-family: Verdana, sans-serif;
}

p {
    color: indigo;
    font-size: 30px;
    text-align: center;
}
div{
    font-size: small;
}

button{
    size: 100px;
    background-color:lightpink ;
}